@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(113, 145, 255);
}

#header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-name {
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

#colors {
  display: flex;
}

#blue,
#pink {
  margin: 0 27px;
  margin-left: 30px;
  width: 60px;
  height: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
}

#blue {
  background-color: rgb(3, 107, 192);
}

#pink {
  background-color: rgb(240, 12, 176);
}

#blue:hover,
#pink:hover {
  border: 1px solid rgb(0, 0, 0);
}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-content {
  margin-top: -80px;
  margin-right: 250px;
}

#text h2 {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  font-size: 60px;
}

#span {
  margin-top: 8px;
  margin-left: 7px;
  padding: 0 10px;
  border-radius: 40px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 20px;
  background-color: rgb(20, 76, 159);
}

#text p {
  margin-left: 10px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

#buy {
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 25px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.image-container img {
  width: 450px;
  height: 450px;
}

@media (max-width: 768px) {
  #header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #logo-name {
    margin-bottom: 20px;
  }

  #blue,
  #pink {
    width: 90px;
    height: 15px;
  }

  #text {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .text-content {
    margin: 0 auto;
  }

  #text h2 {
    margin: 10px 50px;
    font-size: 25px;
  }

  #text p,
  #span,
  #buy {
    text-align: center;
    font-size: 15px;
  }

  #span {
    margin-top: 3px;
    margin-left: 3px;
  }

  #buy {
    margin: 10px 50px 50px;
    width: 70%;
  }

  .image-container img {
    width: 230px;
    height: 230px;
  }
}
